page-login ion-content{
background-image: url('../assets/images/BillAggregator.png');

background-repeat: repeat;
background-size: cover;


}

page-login ion-content img{
    opacity: 0.5;
}

.googleplus{
    background-color:#dd4c3b;
}
.facebook{
    background-color:#3a579d;
}